<h1>Add a new Artist and corresponding Record:</h1>

<form action="/records" method="post">
  <input id="newRecord" name="newRecord" type="text">
  <label for="newRecord">Record Name</label>
  <input id="newArtist" name="newArtist" type="text">
  <label for="newArtist">Who is the Artist?</label>
</form>